# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**:
The main obejectives of this course is to make ousrelves famliar with Jupyter Notebook, IBM Watson Cloud and with some hands on experience with Git-Hub.
* Python
* R
* Sql

In [ ]:
Some of the popular languages that Data Scientists use are:
    1. Python
    2. R
    3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Tenserflow
2. NumPy
3. Matplotlib
4. Pandas

|Data Science Tools|
|------|
|R-Studio|
|Apache Spark|
|Tensorflow|

### Below are a few examples of evaluating arithmetic expressions in Python
1. 89+11
2. 174-65
3. 34*5
4. 72/9

## Author
Shajeer Ashraf